---
title: Overview
section-title: Open source
description:
docs: true

navgroup: documentation
navsub: open-source
navactive: os-contents
---

## 1. <a href="{{ baseUrl }}/documentation/open-source/mono-repo">Mono-repo overview</a>
Overview of new mono-repo structure for all Fozzie components.

## 2. <a href="{{ baseUrl }}/documentation/open-source/creating-repo">Creating a separate GitHub repo</a>
Information for setting up a standalone GitHub repo for a Fozzie component.

## 3. <a href="{{ baseUrl }}/documentation/open-source/module-maintenance">Module maintenance</a>
Steps for maintaining your Fozzie modules.

## 4. <a href="{{ baseUrl }}/documentation/open-source/utility-tools">Utility tools</a>
Other helpful tools.

## 5. <a href="{{ baseUrl }}/documentation/open-source/developing-shared-html-templates">(deprecated) HTML Templates</a>


## 6. <a href="{{ baseUrl }}/documentation/open-source/module-issues">Common issues</a>
Commonly occuring errors.


