<footer class="c-footer">
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-1">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-1" data-toggle-class="is-collapsed">
                    Customer service
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">Log in</a>
                    </li>
                    <li>
                        <a href="#">Sign up</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Mobile apps</a>
                    </li>
                    <li>
                        <a href="#">Suggest a restaurant</a>
                    </li>
                    <li>
                        <a href="#">My account</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-2">
                <h2 data-test-id="cuisine-footer-heading" class="c-footer-heading" data-toggle-target="footer-panel-2" data-toggle-class="is-collapsed">
                    Top cuisines
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Chinese</a>
                    </li>
                    <li>
                        <a href="#">Indian</a>
                    </li>
                    <li>
                        <a href="#">Italian</a>
                    </li>
                    <li>
                        <a href="#">Japanese</a>
                    </li>
                    <li>
                        <a href="#">Pizza delivery</a>
                    </li>
                    <li>
                        <a href="#">View all cuisines</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-3">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-3" data-toggle-class="is-collapsed">
                    Locations
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Birmingham</a>
                    </li>
                    <li>
                        <a href="#">Cardiff</a>
                    </li>
                    <li>
                        <a href="#">Glasgow</a>
                    </li>
                    <li>
                        <a href="#">Leeds</a>
                    </li>
                    <li>
                        <a href="#">Manchester</a>
                    </li>
                    <li>
                        <a href="#">View all locations</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-4">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-4" data-toggle-class="is-collapsed">
                    A bit more about us
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#" target="_self">Restaurant sign up</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Price promise</a>
                    </li>
                    <li>
                        <a href="#" target="_self">How do we use cookies?</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Privacy policy / T&amp;Cs</a>
                    </li>
                    <li>
                        <a href="#" target="_self">About us</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Company website</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-footer-row c-footer-row--light">
        <div class="g g--stack--mid l-container">
            <div class="g-col g-span6">
                <h2 class="c-footer-heading">Download our apps</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    <li>
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--ios" alt="Download on the App Store" src="{{baseUrl}}/assets/img/icons/appstore/ios.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--android" alt="Get it on Google Play" src="{{baseUrl}}/assets/img/icons/appstore/android.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-social">
                <h2 class="c-footer-heading">Follow us</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-google-plus" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-rss" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-pinterest" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-feedback">
                <h2 class="c-footer-heading">Feedback</h2>
                <p class="c-footer-feedbackText">
                    Help us improve our website
                    <br>
                    <a href="#">Send feedback</a>
                </p>
            </div>
        </div>
    </div>
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span8 c-footer-cards">
                <ul class="c-footer-list c-footer-list--inline">
                    <li class="c-footer-certificate">
                        <svg class="c-footer-icon c-footer-icon--certificate c-icon--confianza">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-certificates-confianza" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--mastercard--securecode">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-mastercard--securecode" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--visa--verified">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-visa--verified" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--paypal">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-paypal" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span4 c-footer-countries">
                {{> je-country-selector }}
                <p class="c-footer-vatNumber is-hidden">Just Eat Italy S.r.l. - P.IVA 07392740960</p>
            </div>
        </div>
    </div>
</footer>
