<footer class="c-footer">
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-1">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-1" data-toggle-class="is-collapsed">
                    Customer service
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="/help">Contact us</a>
                    </li>
                    <li>
                        <a href="/account/login">Log in</a>
                    </li>
                    <li>
                        <a href="/account/register">Sign up</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/apps">Mobile apps</a>
                    </li>
                    <li>
                        <a href="/suggest-a-restaurant">Suggest a restaurant</a>
                    </li>
                    <li>
                        <a href="/member/updateuserinfo">My account</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-2">
                <h2 data-test-id="cuisine-footer-heading" class="c-footer-heading" data-toggle-target="footer-panel-2" data-toggle-class="is-collapsed">
                    Top cuisines
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="/chinese-takeaways">Chinese</a>
                    </li>
                    <li>
                        <a href="/indian-takeaways">Indian</a>
                    </li>
                    <li>
                        <a href="/italian-takeaways">Italian</a>
                    </li>
                    <li>
                        <a href="/japanese-takeaways">Japanese</a>
                    </li>
                    <li>
                        <a href="/pizza-delivery">Pizza delivery</a>
                    </li>
                    <li>
                        <a href="/cuisine">View all cuisines</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-3">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-3" data-toggle-class="is-collapsed">
                    Locations
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="/birmingham-takeaway">Birmingham</a>
                    </li>
                    <li>
                        <a href="/cardiff-takeaway">Cardiff</a>
                    </li>
                    <li>
                        <a href="/glasgow-takeaway">Glasgow</a>
                    </li>
                    <li>
                        <a href="/leeds-takeaway">Leeds</a>
                    </li>
                    <li>
                        <a href="/manchester-takeaway">Manchester</a>
                    </li>
                    <li>
                        <a href="/takeaway">View all locations</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible="" data-toggle-name="footer-panel-4">
                <h2 class="c-footer-heading" data-toggle-target="footer-panel-4" data-toggle-class="is-collapsed">
                    A bit more about us
                    <svg class="c-footer-chevron c-icon--chevron u-showBelowMid">
                        <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="https://restaurants.just-eat.co.uk/" target="_self">Restaurant sign up</a>
                    </li>
                    <li>
                        <a href="/pricepromise" target="_self">Price promise</a>
                    </li>
                    <li>
                        <a href="/cookiespolicy" target="_self">How do we use cookies?</a>
                    </li>
                    <li>
                        <a href="/privacy-policy" target="_self">Privacy policy / T&amp;amp;Cs</a>
                    </li>
                    <li>
                        <a href="/about" target="_self">About us</a>
                    </li>
                    <li>
                        <a href="/" target="_self">Company website</a>
                    </li>
                    <li>
                        <a href="https://careers.just-eat.com/" target="_self">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-footer-row c-footer-row--light">
        <div class="g g--stack--mid l-container">
            <div class="g-col g-span6">
                <h2 class="c-footer-heading">Download our apps</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    <li>
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--ios" alt="Download on the App Store" src="{{baseUrl}}/assets/img/icons/appstore/ios.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--android" alt="Get it on Google Play" src="{{baseUrl}}/assets/img/icons/appstore/android.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-social">
                <h2 class="c-footer-heading">Follow us</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-google-plus" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-rss" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="c-footer-icon c-footer-icon--social">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-social-icon-pinterest" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-feedback">
                <h2 class="c-footer-heading">Feedback</h2>
                <p class="c-footer-feedbackText">
                    Help us improve our website
                    <br>
                    <a href="#">Send feedback</a>
                </p>
            </div>
        </div>
    </div>
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span8 c-footer-cards">
                <ul class="c-footer-list c-footer-list--inline">
                    <li class="c-footer-certificate">
                        <svg class="c-footer-icon c-footer-icon--certificate c-icon--confianza">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-certificates-confianza" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--mastercard--securecode">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-mastercard--securecode" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--visa--verified">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-visa--verified" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="c-footer-icon c-footer-icon--card c-icon--paypal">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-cards-paypal" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span4 c-footer-countries">
                <div class="c-countrySelector">
                    <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
                        <svg class="c-icon--flag--small">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.gb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                        <p>United Kingdom</p>
                        <svg class="c-countrySelector-chevron c-icon--chevron--small">
                            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.restauranteweb.com.br/">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.br" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Brazil</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.ca">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ca" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Canada</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.dk">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.dk" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Denmark</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.alloresto.fr/">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.fr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>France</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.ie">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ie" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Ireland</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.it">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.it" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Italy</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.no">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.no" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Norway</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="https://www.just-eat.es">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.es" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Spain</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link" target="_blank" href="http://www.eat.ch">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ch" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>Switzerland</p>
                            </a>
                        </li>
                        <li>
                            <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
                                <svg class="c-icon--flag--small">
                                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.gb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <p>United Kingdom</p>
                            </a>
                            <svg class="c-countrySelector-cross" data-toggle-target="countrySelector-list">
                                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-operators-cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <p class="c-footer-vatNumber is-hidden">Just Eat Italy S.r.l. - P.IVA 07392740960</p>
            </div>
        </div>
    </div>
</footer>
