<header class="c-card c-card--outline c-card--outline--aboveMid c-card--rounded--large {{#if showOffer}}c-card--noPadBottom{{/if}} c-menuHeader">
    <div class="c-mediaElement c-mediaElement--fullstack">
        <img
            class="c-mediaElement-img c-mediaElement-img--outlined c-mediaElement-img--negativeTop"
            src="{{baseUrl}}/assets/img/examples/restaurant-logo.gif"
            alt="Fozzie Kebab"
            itemprop="image" />
        <div class="c-mediaElement-content">
            <h1 class="text-center u-noSpacing">Fozzie Kebab</h1>
            <a class="c-mediaElement-infoLink u-showAboveMid" href="">
                {{inlineSVG "@justeat/f-icons/src/img/icons/general/info.svg"
                    class="c-icon c-icon--info c-icon--blue"}}
                <span class="u-spacingLeft u-showAboveWide">Restaurant info</span>
            </a>
            <p class="l-centered u-noSpacing">
                <span class="c-badge c-badge--light c-badge--large">Kebab <span>•</span> Pizza</span>
            </p>
            <div class="l-centered u-spacingTop">
                {{#if isNew}}
                    <span class="c-badge c-badge--angled c-badge--success">New</span>
                {{/if}}
                <a class="l-centered u-noUnderline {{#if isNew}}u-spacingLeft{{/if}}" href="">
                    {{> je-star-ratings this }}
                    <span class="is-visuallyHidden"> {{star-rating-display}} stars out of 6.</span>
                    {{#if star-rating-count}}
                        <strong class="u-spacingLeft">
                            {{star-rating-count}}
                            <span class="is-visuallyHidden"> total ratings.</span>
                        </strong>
                    {{/if}}
                </a>
            </div>
            {{#if isBtaWinner}}
            <p class="l-centered">
                <span class="c-badge c-badge--angled c-badge--award">BTA winner 2017, 2018</span>
            </p>
            {{/if}}
            {{#if showOffer}}
            <p class="l-centered u-spacingTop--large u-showBelowMid">
                <span class="c-badge c-badge--angled c-badge--important">Offer</span>
                <span class="u-noSpacing u-spacingLeft">20% off today on orders over £30</span>
            </p>
            {{/if}}
            <p class="l-centered u-spacingBottom--large">
                {{> (lookup . 'status') }}
            </p>
        </div>
    </div>
    {{#if showNote}}
    <div class="c-card-section c-card-section--collapsible c-card-section--collapsible--noPad c-card-section--collapsed"
        data-toggle-name="{{noteToggleName}}"
        data-toggle-target="{{noteToggleName}}"
        data-toggle-class="c-card-section--collapsed">
        {{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg"
            class="c-card-section-indicator c-icon c-icon--chevron c-icon--blue"}}
        <p>Note<span class="u-showAboveMid"> from the Restaurant</span>: All our dishes are dairy free, except for our mango &amp; Customers are advised to let the restaurant know if any food may cause allergic reaction prior to order. If you would like to know the list of ingredients used in a particular dish from the menu, the restaurant will be happy to assist you.</p>
        <p>Please inform the restaurant directly if you have any allergies or dietary requirements, please ask for avoid dishes contain molluscs, lupin, sulphites, sesame, mustard, celery, nuts, milk, soyabeans, peanuts, fish, eggs, crustaceans, cereals containing gluten.</p>
    </div>
    {{/if}}
    {{#if showOffer}}
    <p class="c-card-section c-card-section--bottom c-card-section--highlight l-centered u-showAboveMid">
        {{inlineSVG "@justeat/f-icons/src/img/icons/general/offer.svg" class="c-menu-icon c-icon c-icon--offer c-icon--white u-spacingRight"}}
        20% off today on orders over £30
    </p>
    {{/if}}
</header>
