<div class="c-countrySelector">
    <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
        <svg class="c-icon--flag--small">
            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.gb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <p>United Kingdom</p>
        <svg class="c-countrySelector-chevron c-icon--chevron--small">
            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.br" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Brazil</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ca" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Canada</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.dk" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Denmark</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.fr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>France</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ie" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Ireland</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.it" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Italy</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.no" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Norway</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.es" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Spain</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link" target="_blank" href="#">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.ch" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>Switzerland</p>
            </a>
        </li>
        <li>
            <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
                <svg class="c-icon--flag--small">
                    <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.gb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <p>United Kingdom</p>
            </a>
            <svg class="c-countrySelector-cross" data-toggle-target="countrySelector-list">
                <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-operators-cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </li>
    </ul>
</div>
