<label class="o-formControl-label {{#if isInline}}o-formControl-label--inline{{/if}}" for="{{inputid}}">
  <input class="o-formControl-input" type="{{type}}" id="{{inputid}}" name="{{name}}" value="{{value}}" {{#if isDisabled}}disabled{{/if}} />
  <span class="o-formControl-indicator {{typeclass}}"></span>
  {{labeltext}}
</label>
