<nav aria-labelledby="{{ariaLabelledBy}}">
    <h2 class="is-visuallyHidden" id="{{ariaLabelledBy}}">Categories</h2>

    <ul class="c-menu {{cssClass}}">
        <li class="c-menu-item c-menu-item--active {{#if showPopular}}has-icon{{/if}}">
            <a href="" class="c-menu-link">Popular</a>
            {{#if showPopular}}
                {{inlineSVG "@justeat/f-icons/src/img/icons/general/offer.svg" class="c-menu-icon c-icon c-icon--offer c-icon--offer--small c-icon--orange"}}
            {{/if}}
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 1</a>
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 2</a>
        </li>
        <li class="c-menu-item {{#if showPopular}}has-icon{{/if}}">
            <a href="" class="c-menu-link">Category 3 has a really really long title</a>
            {{#if showPopular}}
                {{inlineSVG "@justeat/f-icons/src/img/icons/general/offer.svg" class="c-menu-icon c-icon c-icon--offer c-icon--offer--small c-icon--orange"}}
            {{/if}}
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 4</a>
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 5</a>
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 6</a>
        </li>
        <li class="c-menu-item">
            <a href="" class="c-menu-link">Category 7</a>
        </li>
    </ul>
</nav>
