<a href="{{ restaurantLink }}"
    class="c-previousOrderCard {{ optionalClassNames }}"
    href="{{ restaurantLink }}"
    title="{{ orderAgainLinkTitle }}"
    data-gtm="home|click-previous|reorder"
>

    <div class="c-previousOrderCard-image">
        <img src="{{ restaurantImageUrl }}" alt="{{ restaurantName }}" class="c-previousOrderCard-img">
    </div>

    <div class="c-previousOrderCard-content">
        <h3 class="c-previousOrderCard-title">{{ restaurantName }}</h3>
        <p class="c-previousOrderCard-date">{{ orderDate }}</p>
        <div class="c-previousOrderCard-summary-grid">
            <div class="c-previousOrderCard-summary">
                {{ orderSummary }}
                <strong class="c-previousOrderCard-showMore" tabindex="0">{{ showMoreText }}</strong>
            </div>
            <strong class="c-previousOrderCard-orderTotal">{{ orderTotal }}</strong>
        </div>

        <p class="c-previousOrderCard-order">{{ orderAgainText }}</p>
    </div>
</a>
