<div class="c-rating-wrapper">
  <input id="rating6{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="6" name="{{size}}">
  <label for="rating6{{size}}" title="6 stars out of 6">6/6</label>
  <input id="rating5{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="5" name="{{size}}">
  <label for="rating5{{size}}" title="5 stars out of 6">5/6</label>
  <input id="rating4{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="4" name="{{size}}">
  <label for="rating4{{size}}" title="4 stars out of 6">4/6</label>
  <input id="rating3{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="3" name="{{size}}">
  <label for="rating3{{size}}" title="3 stars out of 6">3/6</label>
  <input id="rating2{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="2" name="{{size}}">
  <label for="rating2{{size}}" title="2 stars out of 6">2/6</label>
  <input id="rating1{{size}}" class="c-ratings-input {{size-class}}" type="radio" value="1" name="{{size}}">
  <label for="rating1{{size}}" title="1 stars out of 6">1/6</label>
</div>
