<ul class="sg-subnav g-col g g--alignRight g--alignBottom u-unstyled">
{{#is navgroup 'styleguide'}}
    <li class="sg-subnav-item{{#is navsub 'design-els'}} is-active{{/is}}"><a href="{{ baseUrl }}/styleguide/design-elements/colours">Design Elements</a></li>
    <li class="sg-subnav-item{{#is navsub 'ui-components'}} is-active{{/is}}"><a href="{{ baseUrl }}/styleguide/ui-components/">UI Components</a></li>
    <li class="sg-subnav-item{{#is navsub 'ui-templates'}} is-active{{/is}}"><a href="{{ baseUrl }}/styleguide/ui-templates/">UI Templates</a></li>
    <li class="sg-subnav-item{{#is navsub 'js-components'}} is-active{{/is}}"><a href="{{ baseUrl }}/styleguide/js-components/">JS Components</a></li>
    <li class="sg-subnav-item{{#is navsub 'css-utilities'}} is-active{{/is}}"><a href="{{ baseUrl }}/styleguide/css-utilities/">CSS Utilities</a></li>
{{/is}}

{{#is navgroup 'documentation'}}
    <li class="sg-subnav-item{{#is navsub 'docs-general'}} is-active{{/is}}"><a href="{{ baseUrl }}/documentation/general/">General</a></li>
    <li class="sg-subnav-item{{#is navsub 'docs-css'}} is-active{{/is}}"><a href="{{ baseUrl }}/documentation/css/">CSS</a></li>
    <li class="sg-subnav-item{{#is navsub 'docs-js'}} is-active{{/is}}"><a href="{{ baseUrl }}/documentation/js/">JS</a></li>
    <li class="sg-subnav-item{{#is navsub 'docs-images'}} is-active{{/is}}"><a href="{{ baseUrl }}/documentation/images/">Images</a></li>
    <li class="sg-subnav-item{{#is navsub 'open-source'}} is-active{{/is}}"><a href="{{ baseUrl }}/documentation/open-source/">Open source</a></li>
{{/is}}
</ul>
