<ul class="sg-sideNav c-card c-card--rounded c-card--noPad u-unstyled">
{{#is navsub 'design-els'}}
    <li><a href="{{ baseUrl }}/styleguide/design-elements/colours" class="{{#is navactive 'colours'}} is-active{{/is}}">Colours</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/typography" class="{{#is navactive 'typography'}} is-active{{/is}}">Typography</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/icons" class="is-incomplete {{#is navactive 'icons'}} is-active{{/is}}">Icons</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/grid" class="is-incomplete {{#is navactive 'grid'}} is-active{{/is}}">Grid</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/touchtargets" class="is-incomplete {{#is navactive 'touchtargets'}} is-active{{/is}}">Touch Target Size</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/padding" class="is-incomplete {{#is navactive 'padding'}} is-active{{/is}}">Padding</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/colour-rays" class="is-incomplete {{#is navactive 'colour-rays'}} is-active{{/is}}">Colour Rays</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/photography" class="is-incomplete {{#is navactive 'photography'}} is-active{{/is}}">Photography</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/illustrations" class="is-incomplete {{#is navactive 'illustrations'}} is-active{{/is}}">Illustrations</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/restaurant-logos" class="is-incomplete {{#is navactive 'restaurant-logos'}} is-active{{/is}}">Restaurant Logos</a></li>
    <li><a href="{{ baseUrl }}/styleguide/design-elements/animations" class="is-incomplete {{#is navactive 'animations'}} is-active{{/is}}">Animations &amp; Transitions</a></li>
{{/is}}

{{#is navsub 'ui-components'}}
    <!-- subnav for Styleguide > Objects -->
    <li><a href="{{ baseUrl }}/styleguide/ui-components/buttons" class="{{#is navactive 'buttons'}} is-active{{/is}}">Buttons</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/forms/checkboxes" class="{{#is navactive 'checkboxes'}} is-active{{/is}}">Checkboxes</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/forms/radio-buttons" class="{{#is navactive 'radio-buttons'}} is-active{{/is}}">Radio Buttons</a></li>

    <!-- subnav for Styleguide > Components -->
    <li><a href="{{ baseUrl }}/styleguide/ui-components/breadcrumbs" class="{{#is navactive 'breadcrumbs'}} is-active{{/is}}">Breadcrumbs</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/cards" class="{{#is navactive 'cards'}} is-active{{/is}}">Cards</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/mediaElement" class="{{#is navactive 'media-element'}} is-active{{/is}}">Media Element</a></li>

    <!-- subnav for Styleguide > Optional Components -->
    <li><a href="{{ baseUrl }}/styleguide/ui-components/badges" class="{{#is navactive 'badges'}} is-active{{/is}}">Badges</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/listings" class="{{#is navactive 'listings'}} is-active{{/is}}">Listings</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/menu" class="{{#is navactive 'menu'}} is-active{{/is}}">Menu</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/page-banner" class="{{#is navactive 'pagebanner'}} is-active{{/is}}">Page Banner</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/custom/star-ratings" class="{{#is navactive 'star-ratings'}} is-active{{/is}}">Ratings</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/toast" class="{{#is navactive 'toast'}} is-active{{/is}}">Toast</a></li>

    <!-- subnav for Styleguide > Fozzie Components -->
    <li><a href="{{ baseUrl }}/styleguide/ui-components/headers/" class="{{#is navactive 'headers'}} is-active{{/is}}">Headers</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/footers/" class="{{#is navactive 'footers'}} is-active{{/is}}">Footers</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/ui-icons" class="{{#is navactive 'ui-icons'}} is-active{{/is}}">Icons</a></li>

    <!-- subnav for Styleguide > To Do -->
    <li><a href="{{ baseUrl }}/styleguide/ui-components/grid" class="is-incomplete {{#is navactive 'ui-grid'}} is-active{{/is}}">Grid</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/pagination" class="is-incomplete {{#is navactive 'pagination'}} is-active{{/is}}">Pagination</a></li>


    <li><a href="{{ baseUrl }}/styleguide/ui-components/custom/loaders" class="is-incomplete {{#is navactive 'loaders'}} is-active{{/is}}">Loaders</a></li>

    <li><a href="{{ baseUrl }}/styleguide/ui-components/hero-images" class="is-incomplete {{#is navactive 'hero-images'}} is-active{{/is}}">Hero Images</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/linktext" class="is-incomplete {{#is navactive 'linktext'}} is-active{{/is}}">Links / Active Text</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/basket" class="is-incomplete {{#is navactive 'basket'}} is-active{{/is}}">Basket UI</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/error-pages" class="is-incomplete {{#is navactive 'error-pages'}} is-active{{/is}}">Error Pages</a></li>

    <li><a href="{{ baseUrl }}/styleguide/ui-components/line-breaks" class="is-incomplete {{#is navactive 'line-breaks'}} is-active{{/is}}">Line Breaks</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/app-icons" class="is-incomplete {{#is navactive 'app-icons'}} is-active{{/is}}">App Tiles &amp; Favicon</a></li>

    <li><a href="{{ baseUrl }}/styleguide/ui-components/forms/" class="is-incomplete {{#is navactive 'forms'}} is-active{{/is}}">Forms</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/forms/messaging" class="is-incomplete {{#is navactive 'messaging'}} is-active{{/is}}">Error &amp; Success Messages</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-components/forms/drop-downs" class="is-incomplete {{#is navactive 'drop-downs'}} is-active{{/is}}">Drop down menus</a></li>
{{/is}}


{{#is navsub 'ui-templates'}}
    <!-- title here - Order Flow -->
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/homepage/" class="is-incomplete {{#is navactive 'template-homepage'}} is-active{{/is}}">HomePage</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/searchResults/" class="is-incomplete {{#is navactive 'template-searchresults'}} is-active{{/is}}">Search Results</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/menu/basket" class="is-incomplete {{#is navactive 'template-basket'}} is-active{{/is}}">Basket</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/orderFlow/delivery-details" class="is-incomplete {{#is navactive 'template-deliverydetails'}} is-active{{/is}}">Delivery Details</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/orderFlow/delivery-time" class="is-incomplete {{#is navactive 'template-deliverytime'}} is-active{{/is}}">Delivery Time</a></li>

    <!-- title here - Account -->
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/login/" class="is-incomplete {{#is navactive 'template-login'}} is-active{{/is}}">Login</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/" class="is-incomplete {{#is navactive 'template-accountindex'}} is-active{{/is}}">Account Index</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/change-pw" class="is-incomplete {{#is navactive 'template-changepw'}} is-active{{/is}}">Change Password</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/remove-account" class="is-incomplete {{#is navactive 'template-removeaccount'}} is-active{{/is}}">Remove Account</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/remove-account-thanks" class="is-incomplete {{#is navactive 'template-removeaccountthanks'}} is-active{{/is}}">Remove Account Thanks</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/order-history" class="is-incomplete {{#is navactive 'template-orderhistory'}} is-active{{/is}}">Order History</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/account-credit" class="is-incomplete {{#is navactive 'template-accountcredit'}} is-active{{/is}}">Account Credit</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/address-book" class="is-incomplete {{#is navactive 'template-addressbook'}} is-active{{/is}}">Address Book</a></li>

    <!-- title here - Order Details Page -->
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/order-summary-mvp" class="is-incomplete {{#is navactive 'template-ordersummary'}} is-active{{/is}}">Order Summary – MVP</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/order-summary--duringOrder" class="is-incomplete {{#is navactive 'template-ordersummaryduring'}} is-active{{/is}}">Order Summary – During Order</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/account/order-summary--postOrder" class="is-incomplete {{#is navactive 'template-ordersummarypost'}} is-active{{/is}}">Order Summary – Post Order</a></li>

    <!-- title here - Misc -->
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/thematic/" class="is-incomplete {{#is navactive 'template-thematiclanding'}} is-active{{/is}}">Thematic Landing Page</a></li>
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/thematic/listing" class="is-incomplete {{#is navactive 'template-thematiclisting'}} is-active{{/is}}">Thematic Listing Page</a></li>

    <!-- title here - Experiments -->
    <li><a href="{{ baseUrl }}/styleguide/ui-templates/searchResults/" class="is-incomplete {{#is navactive 'template-expserp'}} is-active{{/is}}">SERP Layout</a></li>

{{/is}}


{{#is navsub 'js-components'}}
    <li><a href="{{ baseUrl }}/styleguide/js-components/validation" class="{{#is navactive 'validation'}} is-active{{/is}}">Form Validation</a>
        {{#is navactive 'validation'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#usage">Usage</a></li>
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#rules">Rules</a></li>
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#messages">Custom Error Messages</a></li>
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#options">Options</a></li>
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#messages-grouped">Grouped Error Messages</a></li>
            <li><a href="{{ baseUrl }}/styleguide/js-components/validation/#multiple-rules">Applying Multiple Rules</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/styleguide/js-components/trak" class="{{#is navactive 'trak'}} is-active{{/is}}">f-trak – Analytics</a></li>
    <li><a href="{{ baseUrl }}/styleguide/js-components/toggle" class="is-incomplete {{#is navactive 'toggle'}} is-active{{/is}}">Toggle</a></li>
{{/is}}


{{#is navsub 'css-utilities'}}
    <!-- title – Grids -->
    <!-- <li><a href="{{ baseUrl }}/styleguide/css-utilities/grid" class="{{#is navactive 'grid'}} is-active{{/is}}">Responsive Grid</a></li> -->

    <!-- title – Classes -->
    <li><a href="{{ baseUrl }}/styleguide/css-utilities/" class="{{#is navactive 'css-utilities'}} is-active{{/is}}">General Utilities</a></li>
    <li><a href="{{ baseUrl }}/styleguide/css-utilities/css-rwd" class="{{#is navactive 'css-rwd'}} is-active{{/is}}">Responsive</a></li>

    <!-- title – Mixins -->
    <li><a href="{{ baseUrl }}/styleguide/css-utilities/mixins" class="{{#is navactive 'scss-mixins'}} is-active{{/is}}">Mixins</a></li>

    <!-- title – Functions -->
    <li><a href="{{ baseUrl }}/styleguide/css-utilities/functions" class="{{#is navactive 'scss-functions'}} is-active{{/is}}">Functions</a></li>
{{/is}}


{{#is navsub 'docs-general'}}
    <li><a href="{{ baseUrl }}/documentation/general/" class="{{#is navactive 'fozzie'}} is-active{{/is}}">What is Fozzie?</a>
        {{#is navactive 'fozzie'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#aim">Core Aim</a></li>
            <li><a href="#techstack">Tech Stack</a></li>
            <li><a href="#modules">Fozzie Modules</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/general/principles" class="{{#is navactive 'principles'}} is-active{{/is}}">Development Principles</a></li>
    <li><a href="{{ baseUrl }}/documentation/general/getting-started" class="{{#is navactive 'getting-started'}} is-active{{/is}}">Getting Started</a></li>
    <li><a href="{{ baseUrl }}/documentation/general/gulp" class="{{#is navactive 'gulp'}} is-active{{/is}}">Build Tasks – Gulp</a>
        {{#is navactive 'gulp'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#gulp-fozzie">gulp-build-fozzie</a></li>
            <li><a href="#gulp-setup">Setup</a></li>
            <li><a href="#gulp-yarn">Yarn</a></li>
            <li><a href="#gulp-tasks">Available Tasks</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/general/browser-support" class="{{#is navactive 'browser-support'}} is-active{{/is}}">Browser support</a></li>
    <li><a href="{{ baseUrl }}/documentation/general/accessibility" class="{{#is navactive 'a11y'}} is-active{{/is}}">Accessibility</a>
    <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist" class="{{#is navactive 'a11y-checklist'}} is-active{{/is}}">A11y Checklist</a>
        {{#is navactive 'a11y-checklist'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#htmlvalid">HTML is Valid</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#htmlstructure">HTML Structure</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#htmlorder">HTML Order</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#htmlsemantic">HTML Semantic</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#htmllabelled">HTML Labelled</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#audit">Running an Audit</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#keyboard">Keyboard Support</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#tabstops">Tab Support</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#focus">Focus Management</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#state">Page State</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#wellspoken">Screen Readers</a></li>
            <li><a href="{{ baseUrl }}/documentation/general/accessibility/checklist#examples">Examples</a></li>
        </ul>
        {{/is}}
    </li>
{{/is}}


{{#is navsub 'docs-css'}}
    <li><a href="{{ baseUrl }}/documentation/css/" class="{{#is navactive 'css-principles'}} is-active{{/is}}">Principles</a>
        {{#is navactive 'css-principles'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#philosophy">Philosophy</a></li>
            <li><a href="#bestpractices">Best Practices</a></li>
            <li><a href="#preprocessors">Preprocessors</a></li>
            <li><a href="#progressive">Progressive Enhancement</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/css/sass" class="{{#is navactive 'sass'}} is-active{{/is}}">Sass</a>
        {{#is navactive 'css-sass'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#scss">SCSS</a></li>
            <li><a href="#guidelines">Guidelines</a></li>
            <li><a href="#mediaqueries">Media Queries</a></li>
            <li><a href="#variables">Variables</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/css/fozzie" class="{{#is navactive 'css-fozzie'}} is-active{{/is}}">Fozzie & Sass</a>
        {{#is navactive 'css-fozzie'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#import">Importing Fozzie Modules</a></li>
            <li><a href="#themes">Applying Themes</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/css/structure" class="{{#is navactive 'css-structure'}} is-active{{/is}}">Structure</a>
        {{#is navactive 'css-structure'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#folder-structure">SCSS Folder structure</a></li>
            <li><a href="#key-files">Key files</a></li>
        </ul>
        {{/is}}
    </li>
    <li><a href="{{ baseUrl }}/documentation/css/css-naming" class="{{#is navactive 'css-naming'}} is-active{{/is}}">Naming</a>
        {{#is navactive 'css-naming'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#scheme">Our Naming Scheme</a></li>
            <li><a href="#modifiers">Modifiers</a></li>
            <li><a href="#state">State</a></li>
            <li><a href="#variables">Variable Naming</a></li>
        </ul>
        {{/is}}
    </li>
{{/is}}


{{#is navsub 'docs-js'}}
    <li><a href="{{ baseUrl }}/documentation/js/" class="{{#is navactive 'js-architecture'}} is-active{{/is}}">Architecture</a></li>
    <li><a href="{{ baseUrl }}/documentation/js/codestyle" class="{{#is navactive 'js-codestyle'}} is-active{{/is}}">Code Style</a></li>
    <li><a href="{{ baseUrl }}/documentation/js/modules" class="{{#is navactive 'js-modules'}} is-active{{/is}}">Modules</a></li>
    <li><a href="{{ baseUrl }}/documentation/js/frameworks" class="{{#is navactive 'js-frameworks'}} is-active{{/is}}">Frameworks and Libraries</a></li>
    <li><a href="{{ baseUrl }}/documentation/js/testing" class="{{#is navactive 'js-testing'}} is-active{{/is}}">Testing</a>{{#is navactive 'js-testing'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#folder-structure">Folder Structure</a></li>
            <li><a href="#running-the-tests">Running the tests</a></li>
            <li><a href="#writing-tests">Writing Tests</a></li>
        </ul>
        {{/is}}</li>
    <li><a href="{{ baseUrl }}/documentation/js/writing-tests" class="{{#is navactive 'js-writing-tests'}} is-active{{/is}}">Writing Great Tests</a>{{#is navactive 'js-writing-tests'}}
        <ul class="sg-sideNav-subnav u-unstyled">
            <li><a href="#principles">General principles</a></li>
            <li><a href="#guidelines">Guidelines</a></li>
        </ul>
        {{/is}}</li>
{{/is}}


{{#is navsub 'docs-images'}}
    <li><a href="{{ baseUrl }}/documentation/images/img-icons" class="{{#is navactive 'img-icons'}} is-active{{/is}}">Icons</a></li>
    <li><a href="{{ baseUrl }}/documentation/images/img-optimisation" class="{{#is navactive 'img-optimisation'}} is-active{{/is}}">Image Optimisation</a></li>
{{/is}}


{{#is navsub 'open-source'}}
    <li><a href="{{ baseUrl }}/documentation/open-source" class="{{#is navactive 'os-creating'}} is-active{{/is}}">Creating a module</a></li>
    <li><a href="{{ baseUrl }}/documentation/open-source/module-maintenance" class="{{#is navactive 'os-maintenance'}} is-active{{/is}}">Module maintenance</a></li>
    <li><a href="{{ baseUrl }}/documentation/open-source/utility-tools" class="{{#is navactive 'os-tools'}} is-active{{/is}}">Utility Tools</a></li>
    <li><a href="{{ baseUrl }}/documentation/open-source/developing-shared-html-templates" class="{{#is navactive 'developing-shared-html-templates'}} is-active{{/is}}">Developing Shared HTML Templates</a></li>
    <li><a href="{{ baseUrl }}/documentation/open-source/module-issues" class="{{#is navactive 'os-issues'}} is-active{{/is}}">Issues</a></li>
{{/is}}
</ul>
