<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{title}}{{#if docs}} – Just Eat Front-End Component Library and Documentation{{/if}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

		{{#if docs}}
			<link rel="stylesheet" href="{{ baseUrl }}/assets/css/je-docs.min.css">
        {{else}}
            <link rel="stylesheet" href="{{ baseUrl }}/assets/css/je.min.css">
		{{/if}}

		<script src="{{ baseUrl }}/assets/js/libs/modernizr.min.js"></script>
		<script src="{{ baseUrl }}/assets/js/libs/prism.min.js"></script> <!-- Code highlighting for docs -->

        <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:300,500|Ubuntu:300,500' rel='stylesheet' type='text/css' />
	</head>
	<body class="{{#is layout 'site-frame'}}{{else}}body-docs{{/is}} {{ bodyClass }}">


