---
title: Icons
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: ui-icons
layout: components
---

<h2 class="sg-sectionHeading">General Icons</h2>

<h3 class="sg-sectionHeading">Alert – <code>.c-icon--alert</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/alert.svg" class="c-icon c-icon--alert"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Basket – <code>.c-icon--basket</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/basket.svg" class="c-icon c-icon--basket"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Collection – <code>.c-icon--collection</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/collection.svg" class="c-icon c-icon--collection"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Collection Bag– <code>.c-icon--collectionBag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/collectionBag.svg" class="c-icon c-icon--collectionBag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Delivery – <code>.c-icon--delivery</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/delivery.svg" class="c-icon c-icon--delivery"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Delivery Small – <code>.c-icon--delivery--small</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/delivery.svg" class="c-icon c-icon--delivery c-icon--delivery--small"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Info – <code>.c-icon--info</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/info.svg" class="c-icon c-icon--info"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Padlock – <code>.c-icon--padlock</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/padlock.svg" class="c-icon c-icon--padlock"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Nut Allergy – <code>.c-icon--nutAllergy</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/nutAllergy.svg" class="c-icon c-icon--nutAllergy"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Offer – <code>.c-icon--offer</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/offer.svg" class="c-icon c-icon--offer"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Offer Small – <code>.c-icon--offer--small</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/offer.svg" class="c-icon c-icon--offer c-icon--offer--small"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Spicy – <code>.c-icon--spicy</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/spicy.svg" class="c-icon c-icon--spicy"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Tick – <code>.c-icon--tick</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/tick.svg" class="c-icon c-icon--tick"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Vegetarian – <code>.c-icon--vegetarian</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/vegetarian.svg" class="c-icon c-icon--vegetarian"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Tool Icons</h2>

<h3 class="sg-sectionHeading">Eyeglass – <code>.c-icon--eyeglass</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/tools/eyeglass.svg" class="c-icon c-icon--eyeglass"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Horizontal Sliders – <code>.c-icon--slidersHorizontal</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/tools/slidersHorizontal.svg" class="c-icon c-icon--slidersHorizontal"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Sort Amount – <code>.c-icon--sortAmount</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/tools/sortAmount.svg" class="c-icon c-icon--sortAmount"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Map Pin – <code>.c-icon--mapPin</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/tools/mapPin.svg" class="c-icon c-icon--mapPin"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Arrow Icons</h2>

<h3 class="sg-sectionHeading">Chevron – <code>.c-icon--chevron</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Small – <code>.c-icon--chevron--small</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron c-icon--chevron--small"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Up – <code>.c-icon--chevron--up</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron c-icon--chevron--up"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Right – <code>.c-icon--chevron--right</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron c-icon--chevron--right"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Light – <code>.c-icon--chevron--light</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron c-icon--chevron--light"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Card Icons</h2>

<h3 class="sg-sectionHeading">Amex – <code>.c-icon--amex</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/amex.svg" class="c-icon c-icon--amex"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Amex Safekey – <code>.c-icon--amex--safekey</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/amex--safekey.svg" class="c-icon c-icon--amex--safekey"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Dankort – <code>.c-icon--dk</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/dk.svg" class="c-icon c-icon--dk"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Interac – <code>.c-icon--interac</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/interac.svg" class="c-icon c-icon--interac"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">MasterCard – <code>.c-icon--mastercard</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/mastercard.svg" class="c-icon c-icon--mastercard"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">MasterCard Secure Code – <code>.c-icon--mastercard--securecode</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/mastercard--securecode.svg" class="c-icon c-icon--mastercard--securecode"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">PayPal – <code>.c-icon--paypal</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/paypal.svg" class="c-icon c-icon--paypal"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Visa – <code>.c-icon--visa</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/visa.svg" class="c-icon c-icon--visa"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Visa Verified – <code>.c-icon--visa--verified</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/visa--verified.svg" class="c-icon c-icon--visa--verified"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Maestro – <code>.c-icon--maestro</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/maestro.svg" class="c-icon c-icon--maestro"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Certificate Icons</h2>

<h3 class="sg-sectionHeading">Confianza – <code>.c-icon--confianza</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/certificates/confianza.svg" class="c-icon c-icon--confianza"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Flag Icons</h2>

<h3 class="sg-sectionHeading">Australia – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.au.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Brazil – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.br.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Canada – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.ca.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Denmark – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.dk.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Spain – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.es.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">France – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.fr.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">United Kingdom – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.gb.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Ireland – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.ie.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Italy – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.it.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Norway – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.no.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">New Zealand – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.nz.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Switzerland – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/flags/flag.ch.svg" class="c-icon c-icon--flag"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Operator Icons</h2>

<h3 class="sg-sectionHeading">Cross – <code>.c-icon--cross</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/operators/cross.svg" class="c-icon c-icon--cross"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Minus – <code>.c-icon--minus</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/operators/minus.svg" class="c-icon c-icon--minus"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Plus – <code>.c-icon--plus</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/operators/plus.svg" class="c-icon c-icon--plus"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Plus – <code>.c-icon--plus--thin</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/operators/plus--thin.svg" class="c-icon c-icon--plus--thin"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Rating Icons</h2>

<h3 class="sg-sectionHeading">Star – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--empty.svg" class="c-icon c-icon--star"}}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--filled.svg" class="c-icon c-icon--star"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Star Medium – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--empty.svg" class="c-icon c-icon--star--medium "}}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--filled.svg" class="c-icon c-icon--star--medium "}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Star Large – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--empty.svg" class="c-icon c-icon--star--large"}}
{{inlineSVG "@justeat/f-icons/src/img/icons/stars/star--filled.svg" class="c-icon c-icon--star--large"}}
{{/demo-block }}
