---
title: UI Templates
section-title: UI Templates
docs: true

navgroup: styleguide
navsub: ui-templates
navactive: index
---

## Content Pages

- [Content Page – Cookie Policy]({{ baseUrl }}/styleguide/ui-templates/content-pages/cookie-policy)
- [Content Page – Privacy Policy]({{ baseUrl }}/styleguide/ui-templates/content-pages/privacy-policy)

## Menu

- [Menu – With Reviews]({{ baseUrl }}/styleguide/ui-templates/menu/menu-with-reviews)
- [Menu – No Reviews]({{ baseUrl }}/styleguide/ui-templates/menu/menu-no-reviews)
- [Menu – New With Reviews]({{ baseUrl }}/styleguide/ui-templates/menu/menu-new-with-reviews)
- [Menu – New No Reviews]({{ baseUrl }}/styleguide/ui-templates/menu/menu-new-no-reviews)
- [Menu – Popular]({{ baseUrl }}/styleguide/ui-templates/menu/menu-popular)
- [Menu – Pre-order]({{ baseUrl }}/styleguide/ui-templates/menu/menu-preorder)
- [Menu – Closed]({{ baseUrl }}/styleguide/ui-templates/menu/menu-closed)
- [Menu – With Note]({{ baseUrl }}/styleguide/ui-templates/menu/menu-with-note)
- [Menu – With Offer]({{ baseUrl }}/styleguide/ui-templates/menu/menu-with-offer)
- [Menu – With Offer &amp; Note]({{ baseUrl }}/styleguide/ui-templates/menu/menu-with-offer-and-note)
- [Menu – BTA Winner]({{ baseUrl }}/styleguide/ui-templates/menu/menu-bta-winner)
- [Menu – Kitchen Sink]({{ baseUrl }}/styleguide/ui-templates/menu/menu-kitchen-sink)

## Menu Header Variations

- [Header Variations]({{ baseUrl }}/styleguide/ui-templates/menu/menu-header-variations)


<!--




This is where we will build up ui-templates that can be more easily tested and viewed outside of Visual Studio.

These let us test out features faster and enable us to build front-end components much easier than we may be able to otherwise.

<div class="g g--gutter g--stack--mid">
    <div class="g-col g-span4">

### Order Flow

- Homepage
- Search Results
- Menu

    </div><div class="g-col g-span4">

### Account Pages

</div><div class="g-col g-span4">

### Misc (Content pages)

- Example Content Page (e.g. Cookie Policy)
- Thematic Pages
    - Landing Page
    - Restaurant Listing Page

    </div>
</div>
-->

